{% extends 'base.html.twig' %}

{% block title %}CubeDesign - {{ product.title }}{% endblock %}

{% block body %}
<div class="flex justify-center items-center h-screen">
    <div class="flex flex-col md:flex-row justify-center items-center h-2/3 w-2/3 md:w-4/5 lg:w-3/5 xl:w-2/5 border-2 border-solid border-amber-400 rounded-md p-8 overflow-hidden">
        <img class="h-48 md:h-auto w-full md:w-1/2 object-cover mb-4 md:mb-0" src="{{ asset('assets/images/products/' ~ product.imageName) }}" alt="Image du produit {{ product.title }}">
        <div class="md:ml-8 w-full md:w-1/2 flex flex-col justify-center items-center gap-6 overflow-y-auto">
            <h2 class="text-xl font-bold text-center">{{ product.title }}</h2>
            <h3 class="text-xl font-semibold">{{ product.price }}€</h3>
            <p class="text-md text-center">{{ product.description|striptags }}</p>
            <h4 class="text-lg">{{ product.stock }} unités en stock</h4>
            
            {% if app.user %}
            <a href="/product/{{ product.id }}/addtocart">
                <button class="bg-amber-500 hover:bg-amber-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-8">Ajouter au panier</button>
            </a>
            {% else %}
                <p>Identifiez-vous pour ajouter au panier !</p>
            {% endif %}
        </div>
    </div>
</div>
<footer class="flex justify-start items-center w-full h-20 bg-amber-800 mt-12">
    <a href="/contact" class="text-white ml-4">Contact</a>
    <a href="/submitanidea" class="text-white ml-4">Soumettre une idée</a>
</footer>
{% endblock %}
